* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(184, 184, 184);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}
.slider {
  height: 650px;
  overflow: hidden;
  position: relative;
  width: 1000px;
}
.slides {
  height: inherit;
  position: absolute;
  width: inherit;
  z-index: 0;
  border-radius: 3%;
  transform: translateX(100%);
  transition: all 0.6s ease;
}
.slide1 {
  background-image: url(../img/cat1.jpg);
  background-size: cover;
}

.slide2 {
  background-image: url(../img/cat2.jpg);
  background-size: cover;
}

.slide3 {
  background-image: url(../img/cat3.jpg);
  background-size: cover;
}

.slide4 {
  background-image: url(../img/cat4.jpg);
  background-size: cover;
}

.slide5 {
  background-image: url(../img/cat5.jpg);
  background-size: cover;
}
.wrapper > input {
  display: none;
}

.wrapper .controls {
    position: absolute;
    bottom: 20%;
  right: 18%;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transform: translateX(-100%);
  transition: transform ease-in-out 0.5s;
}
#slide1:checked ~ .slider > .slide1 {
  transform: translateX(0);
}
#slide2:checked ~ .slider > .slide2 {
  transform: translateX(0);
}
#slide3:checked ~ .slider > .slide3 {
  transform: translateX(0);
}
#slide4:checked ~ .slider > .slide4 {
  transform: translateX(0);
}
#slide5:checked ~ .slider > .slide5 {
  transform: translateX(0);
}
.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #ddd;
}

.wrapper label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}

.text {
  color: #fff;
  font-size: 24px;
  transition: opacity 0.5s;
  position: absolute;
    bottom: 20%;
  left: 18%;
}

.text > div {
  display: none;
}
#slide1:checked~.slider>.slide1,
    #slide2:checked~.slider>.slide2,
    #slide3:checked~.slider>.slide3,
    #slide4:checked~.slider>.slide4,
    #slide5:checked~.slider>.slide5 {
      z-index: 1;
      transform: scale(1);
    }
    #slide1:checked~.text>.text1,
    #slide2:checked~.text>.text2,
    #slide3:checked~.text>.text3,
    #slide4:checked~.text>.text4,
    #slide5:checked~.text>.text5 {
      display: block;
      transform: scale(1);
    }
    